<section>
  <div class="container mt-5">
    <h1>Contact Us @ DevLore Cafe!</h1>
    <form id="contact-form" class="row g-3">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="James"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Smith"
          required
        />
      </div>
      <div class="col-md-8">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="Example@DevLore.com"
          required
        />
      </div>
      <div class="col-md-4">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input
          type="text"
          class="form-control"
          name="phoneNumber"
          id="phoneNumber"
          placeholder="+1 (303) 394-3992"
        />
      </div>
      <div class="col-md-12">
        <label for="comments" class="form-label">Feel Free To Reach Out!</label>
        <textarea
          class="form-control"
          id="comments"
          name="comments"
          cols="15"
          rows="5"
        ></textarea>
      </div>
      <div class="col-md-12 m-3">
        <button type="submit" class="btn - btn-primary">Say Hi!</button>
      </div>
    </form>
  </div>
</section>
<script src="../public/js/email.js"></script>