<section>
  <div class="container">
    <h1 class="error-page">Invalid Email or Password</h1>
    <h3>You will be redirected to the home page!</h3>
  </div>
</section>
<meta
  http-equiv="refresh"
  content="5; url='https://secure-mesa-62807.herokuapp.com/'"
/>
<script src="/js/redirect.js" defer></script>