<section class="landing">
  <div class="container">
    <div class="row"><h2>Beta Taster</h2></div>
    <div class="row">

      <!-- Button trigger modal - Beta Taster Create Account -->
      <button
        type="button"
        class="btn user-dropdown-btn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Create Account
      </button>

      <!-- Modal - Beta Taster Create Account -->
      <!-- route: /api/betalogin -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Beta Taster -
                Create Account</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form action="/api/betalogin" method="POST">
              <label class="form-label" for="createUserName">Username:</label>
              <input
                type="text"
                id="createUserName"
                name="username"
                class="form-control form-control-lg"
              />
              <label class="form-label" for="createUserEmail">Email:</label>
              <input
                type="text"
                id="createUserEmail"
                name="email"
                class="form-control form-control-lg"
              />
              <label
                class="form-label"
                for="createUserPassword"
              >Password:</label>
              <input
                type="password"
                id="createUserPassword"
                name="password"
                class="form-control form-control-lg"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Button trigger modal - Beta Taster Login -->
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Login
      </button>

      <!-- Modal - Beta Taster Login -->
      <!-- route: /api/betalogin/login -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Beta Taster -
                Login</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form action="/api/betalogin/login" method="POST">
              <label class="form-label" for="userEmail">Email:</label>
              <input
                type="text"
                id="userEmail"
                name="userEmail"
                class="form-control form-control-lg"
              />
              <label
                class="form-label"
                for="userPassword"
              >Password:</label>
              <input
                type="password"
                id="userPassword"
                name="userPassword"
                class="form-control form-control-lg"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row"><h2>DevLore Cafe Management</h2></div>
    <div class="row">
      <!-- Button trigger modal - Management Create Account -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Create Account
      </button>

      <!-- Modal - Management Create Account -->
      <!-- route: /api/Managelogin -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">DevLore Management -
                Create Account</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form action="/api/Managelogin" method="POST">
              <label class="form-label" for="createMgrEmail">Email:</label>
              <input
                type="text"
                id="createMgrEmail"
                name="createMgrEmail"
                class="form-control form-control-lg"
              />
              <label
                class="form-label"
                for="createMgrPassword"
              >Password:</label>
              <input
                type="password"
                id="createMgrPassword"
                name="createMgrPassword"
                class="form-control form-control-lg"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Button trigger modal - Management Login -->
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Login
      </button>

      <!-- Modal - Management Login -->
      <!-- route: /api/Managelogin/login -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Manager -
                Login</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form action="/api/Managelogin/login" method="POST">
              <label class="form-label" for="mgrEmail">Email:</label>
              <input
                type="text"
                id="mgrEmail"
                name="mgrEmail"
                class="form-control form-control-lg"
              />
              <label
                class="form-label"
                for="mgrPassword"
              >Password:</label>
              <input
                type="password"
                id="mgrPassword"
                name="mgrPassword"
                class="form-control form-control-lg"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>