<section class="landing">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="d-block w-100" alt="three hands cheers with coffee">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1514481538271-cf9f99627ab4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="two lattes with latte art and a donut on wooden tray">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1614822283015-67c426d4e562?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="french toast with berries and syrup">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div class="container">
    <div class="row"><h2>Beta Taster</h2></div>
    <div class="row d-grid gap-2 col-6 mx-auto">

      <!-- Button trigger modal - Beta Taster Create Account -->
      <button
        type="button"
        class="btn user-dropdown-btn beta-btn"
        data-bs-toggle="modal"
        data-bs-target="#betaCreate"
      >
        Create Account
      </button>

      <!-- Modal - Beta Taster Create Account -->
      <!-- route: /api/betalogin -->
      <div
        class="modal fade"
        id="betaCreate"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Beta Taster -
                Create Account</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form action="/api/betalogin" method="POST">
              <label class="form-label" for="createUserName">Username:</label>
              <input
                type="text"
                id="createUserName"
                name="username"
                class="form-control form-control-lg"
              />
              <label class="form-label" for="createUserEmail">Email:</label>
              <input
                type="text"
                id="createUserEmail"
                name="email"
                class="form-control form-control-lg"
              />
              <label
                class="form-label"
                for="createUserPassword"
              >Password:</label>
              <input
                type="password"
                id="createUserPassword"
                name="password"
                class="form-control form-control-lg"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn beta-btn">Create Account</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Button trigger modal - Beta Taster Login -->
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#betaLogin"
      >
        Login
      </button>

      <!-- Modal - Beta Taster Login -->
      <!-- route: /api/betalogin/login -->
      <div
        class="modal fade"
        id="betaLogin"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Beta Taster -
                Login</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form action="/api/betalogin/login" method="POST">
              <label class="form-label" for="userEmail">Email:</label>
              <input
                type="text"
                id="userEmail"
                name="userEmail"
                class="form-control form-control-lg"
              />
              <label
                class="form-label"
                for="userPassword"
              >Password:</label>
              <input
                type="password"
                id="userPassword"
                name="userPassword"
                class="form-control form-control-lg"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn beta-btn">Login</button>
            </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row"><h2>DevLore Cafe Management</h2></div>
    <div class="row d-grid gap-2 col-6 mx-auto">
      <!-- Button trigger modal - Management Create Account -->
      <button
        type="button"
        class="btn btn-primary mgr-btn"
        data-bs-toggle="modal"
        data-bs-target="#manageCreate"
      >
        Create Account
      </button>

      <!-- Modal - Management Create Account -->
      <!-- route: /api/Managelogin -->
      <div
        class="modal fade"
        id="manageCreate"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">DevLore Management -
                Create Account</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form action="/api/Managelogin" method="POST">
              <label class="form-label" for="createMgrEmail">Email:</label>
              <input
                type="text"
                id="createMgrEmail"
                name="email"
                class="form-control form-control-lg"
              />
              <label
                class="form-label"
                for="createMgrPassword"
              >Password:</label>
              <input
                type="password"
                id="createMgrPassword"
                name="password"
                class="form-control form-control-lg"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn mgr-btn">Create Account</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Button trigger modal - Management Login -->
      <button
        type="button"
        class="btn btn-secondary mb-2"
        data-bs-toggle="modal"
        data-bs-target="#manageLogin"
      >
        Login
      </button>

      <!-- Modal - Management Login -->
      <!-- route: /api/Managelogin/login -->
      <div
        class="modal fade"
        id="manageLogin"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Manager -
                Login</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form action="/api/Managelogin/login" method="POST">
              <label class="form-label" for="mgrEmail">Email:</label>
              <input
                type="text"
                id="mgrEmail"
                name="mgrEmail"
                class="form-control form-control-lg"
              />
              <label
                class="form-label"
                for="mgrPassword"
              >Password:</label>
              <input
                type="password"
                id="mgrPassword"
                name="mgrPassword"
                class="form-control form-control-lg"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn mgr-btn">Login</button>
            </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>