<section class="menu-user">

  <div>
    <h2 class="page-header m-2">Welcome! <br>Take a look at our menu in development...</h2>
  </div>
  <div class="container">

    <div class="card">
      <!-- card containing the menu item name and description -->
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {{#each foods}}
            <h4>{{Food_name}}</h4>
            <li class="list-group-item">{{description}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="container">
      <a href="/review-user">
      <div class="text-center">
       <button
            type="button"
            class="btn btn-lg beta-btn m-2"
            id="user-menu-post-btn"
          >Post a Review</button></a>
      </div>
    </div>
  </div>
</section>