<section class="menu-mgr">
  <div class="container text-center">
    <div class="row align-items-start">

      <!-- Add Menu Item -->
      <div class="col">
        <h2 class="page-header">Add Menu Item</h2>
        <form action="/api/Managelogin/additem" method="POST">
          <div class="input-group mb-3">
            <span
              class="input-group-text"
              id="inputGroup-sizing-default"
              name="title"
            >Title</span>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>

          <div class="input-group mb-3">
            <span
              class="input-group-text"
              id="inputGroup-sizing-default"
              name="price"
            >Price</span>
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              step="0.01"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>

          <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              id="description"
              name="description"
            ></textarea>
          </div>
          <br><button type="submit" class="btn add-item-btn mgr-btn">Add Item</button>
        </form>
      </div>

<section class="menu-user">

  <div>
    <h2 class="page-header">Currently Displaying Menu</h2>
  </div>
  <div class="container">
    <div class="card mb-2">
      <!-- card containing the menu item name and description -->
       {{#each foods}}
      <div class="card-body" data="{{id}}" >
        <ul class="list-group list-group-flush">
            <button type="button" class="btn removeItem mgr-btn ps-2 col-2" id="removeItem">Remove</button>
            <h2>{{Food_name}}</h2>
            <li class="list-group-item">{{description}} <br> {{price}}</li>
        </ul>
      </div>
       {{/each}}
    </div>
    </div>
  </div>
</section>
<script src="/js/edit.js"></script>