<section>
  <div class="container">
    <div class="row">
      <h3 class="page-header">Menu Item:</h3>
      <div class="text-center">

        <div class="dropdown">
          <button
            class="btn dropdown-toggle text-center"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </button>
        </div>
        {{! how to capture which menu item is selected by the manager in order to render the correct reviews to the page? }}
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button">Menu Item 1</button></li>
          <li><button class="dropdown-item" type="button">Menu Item 2</button></li>
          <li><button class="dropdown-item" type="button">Menu Item 3</button></li>
          <li><button class="dropdown-item" type="button">Menu Item 4</button></li>
          <li><button class="dropdown-item" type="button">Menu Item 5</button></li>
          <li><button class="dropdown-item" type="button">Menu Item 6</button></li>
          <li><button class="dropdown-item" type="button">Menu Item 7</button></li>
        </ul>
      </div>
    </div>

  </div>
</section>