<section>
  <h2 class="page-header">What other Beta Tasters have said about the DevLore
    Cafe</h2>
  <div class="container">
    {{#each ratingsData}}
      <div class="card">
        <div class="card-body">
          {{! displaying each user review / menu item inside dynamically generated cards }}
          <div>
            <p>{{Rating.review}}</p>
            <div class="d-flex flex-row justify-content-around mt-5">
              <h5 id="user-rating">{{Rating.rating}}</h5>
              <h5 id="user-name">{{BetaTaster.username}}</h5>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>