<section>
  <h2 class="page-header">What other Beta Tasters have said about the _____...</h2>
  <div class="container">
    <div class="card">
      <div class="card-body">
        {{! disaying each user review / menu item inside dynamically generated cards }}
        <form action="/betaViewReview" method="GET">
          <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Molestias ipsa non, dignissimos sint libero dolorum ipsum quae,
              excepturi repudiandae ducimus, nobis dicta eveniet repellendus
              iure earum. Ab, accusamus ut. Saepe?</p>
            <div class="d-flex flex-row justify-content-around mt-5">
              <h5 id="user-rating">Rating: 4-stars</h5>
              <h5 id="user-name">UserName: supersushi7</h5>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>