<section>
  <h2>What other Beta Tasters have said about the _____...</h2>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form action="/betaViewReview"></form>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus,
        officia. Tempora aliquid deserunt omnis doloremque, perspiciatis dolor
        fugit laboriosam sint odio voluptate sed ex corrupti numquam explicabo?
        Sit sunt quibusdam praesentium assumenda autem ipsum, magnam voluptatum
        alias velit incidunt beatae numquam atque perspiciatis pariatur quidem
        vitae maxime? Quam eos culpa maxime repellat hic consectetur inventore
        tenetur fugit error, autem aperiam architecto rem, nihil ratione fuga
        neque, deleniti ab nostrum! Quod, nemo modi itaque error amet voluptatem
        veniam corrupti non numquam harum, quis, earum officia fugiat vitae. Ab
        harum distinctio vitae et dolore? Ad harum dolorem sequi repellat esse
        molestiae quo!
      </div>
    </div>

  </div>
</section>