:root {
  --blue: #789395;
  --darkgreen: #94b49f;
  --lightgreen: #b4cfb0;
  --beige: #e5e3c9;
  --logofont: "Cinzel Decorative", cursive;
  --headerfont: "Playfair Display", serif;
  --bodyfont: "Playfair Display SC", serif;
}

.logo {
  font-family: var(--logofont);
  text-align: left;
  padding: 40px;
  color: var(--lightgreen);
}

.navbar {
  background-color: var(--blue);
}

footer {
  background-color: var(--blue);
  color: var(--lightgreen);
}

main {
  background-color: var(--beige);
}
