:root {
  --blue: #789395;
  --darkblue: #6c757d;
  --darkgreen: #94b49f;
  --lightgreen: #b4cfb0;
  --beige: #e5e3c9;
  --logofont: "Cinzel Decorative", cursive;
  --headerfont: "Playfair Display", serif;
  --bodyfont: "Playfair Display SC", serif;
}

/* gets rid of white space from margin bootstrap  */
body {
  /* background-image: url(https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */
  height: 100vh;
  background-color: var(--beige);
  text-align: center;
}

section {
  font-family: var(--bodyfont);
}

/* uncomment if you want the button font to be "normal" */
/* .btn {
  font-family: serif;
} */

.beta-btn {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: white;
}

.beta-btn:hover {
  background-color: var(--darkgreen);
  border: 1px solid var(--darkgreen);
  color: black;
}

.mgr-btn {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: white;
}

.mgr-btn:hover {
  background-color: var(--darkgreen);
  border: 1px solid var(--darkgreen);
  color: black;
}

.input-group-text {
  background-color: var(--lightgreen);
  border: 1px solid var(--beige);
}

.logo {
  font-family: var(--logofont);
  text-align: left;
  padding: 40px;
  color: var(--darkgreen);
}

/* added for review-user page  */
.rating-radios:hover {
  cursor: pointer;
}

header {
  background-color: var(--beige);
}

a {
  text-decoration: none;
  color: var(--beige);
}

.nav-item a:hover {
  color: var(--darkgreen);
}

.navbar {
  background-color: var(--blue);
  color: var(--lightgreen);
}

footer {
  background-color: var(--blue);
  color: var(--beige);
  text-align: center;
}

main {
  background-color: var(--beige);
}

.page-header {
  color: var(--darkgreen);
  font-family: var(--bodyfont);
  text-align: center;
}

.contact-page {
  color: var(--darkgreen);
}

/* #review-user-h2 {
  color: var(--darkgreen);
  font-family: var(--bodyfont);
  text-align: center;
} */

.review-user-card {
  background-color: var(--beige);
  border: 5px solid var(--beige);
}

/* added for review-mgr page */
.review-mgr-card {
  background-color: var(--blue);
  color: var(--beige);
  box-shadow: 2px 4px 8px var(--blue);
  transition: 0.3s;
}

/* added for review-mgr page */
.review-mgr-card:hover {
  box-shadow: 4px 8px 16px var(--blue);
}

.review-user-rev {
  background-color: var(--blue);
  color: var(--beige);
  box-shadow: 2px 4px 8px var(--blue);
  transition: 0.3s;
}

.review-user-rev:hover {
  box-shadow: 4px 8px 16px var(--blue);
}
