:root {
  --blue: #789395;
  --darkgreen: #94b49f;
  --lightgreen: #b4cfb0;
  --beige: #e5e3c9;
  --logofont: "Cinzel Decorative", cursive;
  --headerfont: "Playfair Display", serif;
  --bodyfont: "Playfair Display SC", serif;
}
